/* Уберите все отступы и установите черный фон по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #000000; /* Запасной черный фон */
}

.App {
  width: 100%;
  height: 100%;
}